html, body {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #B2D963;
}

h1, h2, h3, h5, h6 {
    color: #1E211F;
}

h1 {
    font-size: 3em;
}

h1, h3 {
   padding: 0.25em;
   margin: 0;
}

h3 {
    text-align: center;
}

h4 {
    color: white;
    margin-left: 1em;
}

#sitename_phone {
    margin-top: 0.25em;
}

.sitename {
    padding: 0.25em;
    background: #889FCF;
    border-radius: 20px;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    margin: 0 auto;
    /*padding: 10px;*/
    max-width: 800px;
}

#body {
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    font-size: 0.75em;
    padding-top: 2em;
}

.sitename {
    display: inline-block;
    /*float: left;*/
    text-align: left;
    /*overflow: hidden;*/
    width: 59%;
    height: 100%;
    margin-top: 0.1em;
}

.contact_numbers {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    font-weight: bold;
    height: 100%;
    display: inline-block;
    width: 39%;
    height: 100%;
}

.contact_numbers a {
    color: #1E211F;
    text-decoration: none;
}

ul.phone {
    vertical-align: center;
    margin: 0 auto;
}

ul.nav, ul.phone {
    list-style-type: none;
    margin: 0.25em;
    padding: 0;
}

ul.nav {
    display: inline;
    margin-top:1em;
}

li.nav {
    display: inline-block;
    background: #889FCF;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1.25em;
    /*height: 30px;*/
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

li.phone {
    display: inline-block;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.25em;
}

a.nav {
    text-decoration: none;
    color: #4A2B25;
}

a.nav:hover {
    color: #291613;
}

a.nav img {
    vertical-align: bottom;
}

#mainpage_text {
    background-image: url("../images/homeBG_faded.jpg");
    max-width: 800px;
    text-align: left;
    color: white;
    font-size: 1.25em;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em;
    border-radius: 20px;
}

.gallery {
    text-align: center;
    background-color: #333333;
	padding: 1em;
	color: #eeeeee;
	font-family: bretan;
    border-radius: 20px;
}

.gallery_image a {
    text-decoration: none;
    vertical-align: middle;
}

div.gallery_image {
    margin: 0.25em;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    vertical-align: middle;
    background-color: black;
    background-image: url("../images/loading.gif");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    background-color: #000;
    z-index: 10000;
    padding: 0;
    background-color: #333333;
}

.overlay_pannel {
    position: static;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    overflow-x: hidden;
}

#overlay_left {
    background-image: url('../images/pointer_left.png');
    background-size: 80% auto;
}

#overlay_right {
    background-image: url('../images/pointer_right.png');
    background-size: 80% auto;
}

#close_overlay {
    padding: 1em;
}

.rec_quote, #contact_form {
    max-width: 800px;
    background: white;
    border: solid 5px #889FCF;
    padding: 1.5em;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

.rec_quote {
  font-style: italic;
}

#contact_form {
   vertical-align: middle;
}

.rec_name {
    text-align: right;
    margin-right: 20%;
    font-style: normal;
}

.page_header {
    margin: 0 auto;
    background: #889FCF;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    max-width: 800px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 1em;
}

#contact_form textarea {
    vertical-align: top;
}

#contact_form input, #contact_form textarea, #contact_form label {
    margin: 0.25em;
}
