[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django = "==2.0.5"
django-admin-sortable2 = "*"
pillow = "*"
gunicorn = "*"

[dev-packages]
fabric3 = "*"

[requires]
python_version = "3.7"
