{% extends "tjhome/base.html" %}

{% block content %}
<div id="mainpage_text">
    <p>For the design and build of all types of projects.</p>
    <p>With over 30 years' experience in the building trade, Right Direction offers the right solutions.</p>
    <p>
        We offer a highly skilled and professional service which is reasonably priced and of the highest quality.
        Bringing a host of ideas, paying attention to detail and ensuring we put the customer first.
        Our workmanship is fully insured and guaranteed.
    </p>
    <h4>Exterior:</h4>
    <ul>
        <li>Garden Builds</li>
        <li>Paving</li>
        <li>Fencing</li>
        <li>Patios</li>
    </ul>
    <h4>Interior:</h4>
    <ul>
        <li>Kitchens</li>
        <li>Bathrooms</li>
        <li>Decorating</li>
        <li>Woodwork</li>
        <li>Plumbing</li>
        <li>Electrical</li>
    </ul>
    <p>For ideas and examples please browse our gallery of work.</p>
</div>
{% endblock %}
