[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=lseagle
WorkingDirectory=/home/USERNAME/sites/SITENAME/source
ExecStart=/bin/bash -l /home/USERNAME/sites/SITENAME/scripts/start.sh

[Install]
WantedBy=multi-user.target
